# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{swift,plist,yml,md}]
indent_style = space
charset = utf-8

# 4 space indentation
[*.{swift,yml}]
indent_size = 4

[*.md]
indent_size = 2

[{Makefile,makefile}]
indent_style = tab
